@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

* {
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background: black;
  display: flex;
  font-size: 120px;
  justify-content: flex-start;
  padding: 25px;
  position: relative;
}

.nav {
  align-items: flex-end;
  bottom: 15px;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Mono', monospace;
  position: fixed;
  right: 25px;
}

.nav a {
  color: white;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: line-through;
}

.sentence {
  display: flex;
  flex-flow: row wrap;
}

.sentence__word {
  margin: 0 25px 25px 0;
}
